<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkloadIDTable</key>
	<dict>
		<key>com.test.myapp.efficient</key>
		<dict>
			<key>Phases</key>
			<dict>
				<key>NonRealtime</key>
				<dict>
					<key>WorkloadClass</key>
					<string>DISCRETIONARY</string>
					<key>CriticalityOffset</key>
					<integer>0</integer>
					<key>WorkIntervalType</key>
					<string>DEFAULT</string>
				</dict>
			</dict>
			<key>Root</key>
			<dict>
				<key>DefaultPhase</key>
				<string>NonRealtime</string>
			</dict>
		</dict>
		<key>com.test.myapp.best_effort</key>
		<dict>
			<key>Phases</key>
			<dict>
				<key>NonRealtime</key>
				<dict>
					<key>WorkloadClass</key>
					<string>BEST_EFFORT</string>
					<key>CriticalityOffset</key>
					<integer>0</integer>
					<key>WorkIntervalType</key>
					<string>DEFAULT</string>
				</dict>
			</dict>
			<key>Root</key>
			<dict>
				<key>DefaultPhase</key>
				<string>NonRealtime</string>
			</dict>
		</dict>
		<key>com.test.myapp.application</key>
		<dict>
			<key>Phases</key>
			<dict>
				<key>NonRealtime</key>
				<dict>
					<key>WorkloadClass</key>
					<string>APPLICATION</string>
					<key>CriticalityOffset</key>
					<integer>0</integer>
					<key>WorkIntervalType</key>
					<string>DEFAULT</string>
				</dict>
			</dict>
			<key>Root</key>
			<dict>
				<key>DefaultPhase</key>
				<string>NonRealtime</string>
			</dict>
		</dict>
		<key>com.test.myapp.critical</key>
		<dict>
			<key>Phases</key>
			<dict>
				<key>NonRealtime</key>
				<dict>
					<key>WorkloadClass</key>
					<string>SYSTEM_CRITICAL</string>
					<key>CriticalityOffset</key>
					<integer>0</integer>
					<key>WorkIntervalType</key>
					<string>DEFAULT</string>
				</dict>
			</dict>
			<key>Root</key>
			<dict>
				<key>DefaultPhase</key>
				<string>NonRealtime</string>
			</dict>
		</dict>
		<key>com.test.myapp.shared_flags</key>
		<dict>
			<key>Phases</key>
			<dict>
				<key>NonRealtime</key>
				<dict>
					<key>WorkloadClass</key>
					<string>APPLICATION</string>
					<key>CriticalityOffset</key>
					<integer>0</integer>
					<key>Flags</key>
					<array>
						<string>UXM</string>
						<string>StrictTimers</string>
					</array>
					<key>WorkIntervalType</key>
					<string>DEFAULT</string>
				</dict>
			</dict>
			<key>Root</key>
			<dict>
				<key>DefaultPhase</key>
				<string>NonRealtime</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>