[submodule "llvm-project"]
path = src/Developer/llvm/llvm-project
url = https://github.com/apple/llvm-project.git
branch = stable/20220421 
[submodule "ninja"]
path = tools/ninja
url = https://github.com/PureDarwin/ninja.git
branch = macOS
