<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>9C31pd1</string>
	<key>inherits</key>
	<string>9C31</string>
	<key>projects</key>
	<dict>
		<key>ACPIPS2Nub</key>
		<dict>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>gcc_os</string>
					<string>gcc_select</string>
					<string>gnumake</string>
				</array>
			</dict>
			<key>source_sites</key>
			<array>
				<string>http://tgwbd.org/darwin/downloads/</string>
			</array>
			<key>version</key>
			<string>1</string>
		</dict>
		<key>ApplePS2Controller</key>
		<dict>
			<key>binary_sites</key>
			<array>
				<string>http://src.macosforge.org/Roots/8A428/</string>
			</array>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>adv_cmds</string>
					<string>awk</string>
					<string>bash</string>
					<string>cctools</string>
					<string>cxxfilt</string>
					<string>file_cmds</string>
					<string>gcc_os</string>
					<string>gcc_select</string>
					<string>shell_cmds</string>
					<string>system_cmds</string>
					<string>text_cmds</string>
				</array>
				<key>header</key>
				<array>
					<string>ApplePS2Controller</string>
					<string>xnu</string>
				</array>
				<key>staticlib</key>
				<array>
					<string>gcc_os</string>
					<string>xnu</string>
				</array>
			</dict>
			<key>version</key>
			<string>8</string>
		</dict>
		<key>ApplePS2Keyboard</key>
		<dict>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>adv_cmds</string>
					<string>awk</string>
					<string>bash</string>
					<string>cctools</string>
					<string>cxxfilt</string>
					<string>file_cmds</string>
					<string>gcc_os</string>
					<string>gcc_select</string>
					<string>shell_cmds</string>
					<string>system_cmds</string>
					<string>text_cmds</string>
				</array>
				<key>header</key>
				<array>
					<string>ApplePS2Controller</string>
					<string>IOGraphics</string>
					<string>IOHIDFamily</string>
					<string>xnu</string>
				</array>
				<key>staticlib</key>
				<array>
					<string>gcc_os</string>
					<string>xnu</string>
				</array>
			</dict>
			<key>version</key>
			<string>9</string>
		</dict>
		<key>ApplePS2Mouse</key>
		<dict>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>adv_cmds</string>
					<string>awk</string>
					<string>bash</string>
					<string>cctools</string>
					<string>cxxfilt</string>
					<string>file_cmds</string>
					<string>gcc_os</string>
					<string>gcc_select</string>
					<string>shell_cmds</string>
					<string>system_cmds</string>
					<string>text_cmds</string>
				</array>
				<key>header</key>
				<array>
					<string>ApplePS2Controller</string>
					<string>IOGraphics</string>
					<string>IOHIDFamily</string>
					<string>xnu</string>
				</array>
				<key>staticlib</key>
				<array>
					<string>gcc_os</string>
					<string>xnu</string>
				</array>
			</dict>
			<key>version</key>
			<string>10</string>
		</dict>
		<key>ApplePS2Trackpad</key>
		<dict>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>adv_cmds</string>
					<string>awk</string>
					<string>bash</string>
					<string>cctools</string>
					<string>cxxfilt</string>
					<string>file_cmds</string>
					<string>gcc_os</string>
					<string>gcc_select</string>
					<string>shell_cmds</string>
					<string>system_cmds</string>
					<string>text_cmds</string>
				</array>
				<key>header</key>
				<array>
					<string>ApplePS2Controller</string>
					<string>IOGraphics</string>
					<string>IOHIDFamily</string>
					<string>xnu</string>
				</array>
				<key>staticlib</key>
				<array>
					<string>gcc_os</string>
					<string>xnu</string>
				</array>
			</dict>
			<key>version</key>
			<string>9</string>
		</dict>
		<key>boot</key>
		<dict>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>Libm</string>
					<string>Libsystem</string>
					<string>adv_cmds</string>
					<string>awk</string>
					<string>bash</string>
					<string>bootstrap_cmds</string>
					<string>cctools</string>
					<string>cxxfilt</string>
					<string>file_cmds</string>
					<string>files</string>
					<string>gcc_os</string>
					<string>gcc_select</string>
					<string>gnumake</string>
					<string>shell_cmds</string>
					<string>system_cmds</string>
					<string>text_cmds</string>
				</array>
				<key>header</key>
				<array>
					<string>IOStorageFamily</string>
					<string>Libc_headers</string>
					<string>architecture</string>
					<string>cctools_ofiles</string>
					<string>gcc_os</string>
					<string>xnu</string>
				</array>
				<key>staticlib</key>
				<array>
					<string>Csu</string>
					<string>gcc_os</string>
				</array>
			</dict>
			<key>patchfiles</key>
			<array>
				<string>boot-132_dfe_r122.p0.patch</string>
				<string>boot-132_dfe_r122_pd1.p0.patch</string>
			</array>
			<key>version</key>
			<string>132</string>
		</dict>
		<key>xnu</key>
		<dict>
			<key>patchfiles</key>
			<array>
				<string>xnu-1228.3.13-pd1.p1.patch</string>
			</array>
		</dict>
		<key>launchd</key>
		<dict>
			<key>patchfiles</key>
			<array>
				<string>launchd-258.1.p1.patch</string>
			</array>
		</dict>
	</dict>
	<key>source_sites</key>
	<array>
                <string>http://puredarwin.googlecode.com/svn/trunk/patches/</string>
		<string>http://src.macosforge.org/Projects/</string>
	</array>
</dict>
</plist>
