// !$*UTF8*$!
{
	build = 9J61pd1;
	darwin = "Darwin 9.7";
	inherits = 9J61;
	macosx = "Mac OS X 10.5.7";

	"source_sites" = (
		"http://puredarwin.googlecode.com/hg/trunk/patches/",
		"http://puredarwin.googlecode.com/svn/trunk/patches/",
		"http://src.macosforge.org/Projects/",
	);

	binary_sites = (
		"http://src.macosforge.org/Roots/9J61/",
		"http://puredarwin.googlecode.com/hg/Roots/9J61pd1/",
		"http://puredarwin.googlecode.com/hg/Roots/9G55pd1/",
		"http://puredarwin.googlecode.com/hg/Roots/9F33pd1/",
		"http://puredarwin.googlecode.com/svn/Roots/9J61pd1/",
		"http://puredarwin.googlecode.com/svn/Roots/9G55pd1/",
		"http://puredarwin.googlecode.com/svn/Roots/9F33pd1/",
	);

	projects = {


		CFNetwork = {
			version = 129.20;
                        patchfiles = (
				"CFNetwork-129.20.p1.patch.0",
			);
		};

		IOAudioFamily = {
                        patchfiles = (
				"IOAudioFamily-169.4.3.p1.patch.0",
			);
		};

		JavaScriptCore = {
                        patchfiles = (
				"JavaScriptCore-5525.26.2.p1.patch.0",
			);
		};

		Libc = {
                        patchfiles = (
				"Libc-498.1.7.p1.patch.0",
			);
		};

		SystemStubs = {
			environment = {
				"RC_ARCHS" = "i386 x86_64 ppc ppc64";
			};
		};


		at_cmds = {
                        patchfiles = (
				"at_cmds-54.p1.patch",
			);
		};


		bless = {
                        patchfiles = (
				"bless-63.2.p1.patch",
			);
		};

		dtrace = {
			environment = {
				"RC_ARCHS" = "i386 x86_64 ppc ppc64";
			};
			dependencies = {
				build = (
					libelf,
					libdwarf,
				);
			};
			patchfiles = (
				"dtrace-48.dt_pid_apple.m.p1.patch",
				"dtrace-48.libproc.m.p1.patch",
				"dtrace-48.libproc_apple.h.p1.patch",
				"dtrace-48.dt_ld.m.p1.patch",
				"dtrace-48.project.pbxproj.p1.patch",
			);
		};

		eap8021x = {
			environment = {
				"RC_ARCHS" = "i386  ppc ";
			};
		};

		efax = {
                        patchfiles = (
				"efax-28.p1.patch.0",
				"efax-28.p1.patch.1",
			);
		};

		emacs = {
                        patchfiles = (
				"emacs-70.1.p1.patch.0",
				"emacs-70.1.p1.patch.1",
			);
		};

		gnutar = {
                        patchfiles = (
				"gnutar-442.0.1.p1.patch",
			);
		};

		ipv6configuration = {
                        patchfiles = (
				"ipv6configuration-27.p1.patch",
			);
		};

		iodbc = {
                        patchfiles = (
				"iodbc-34.p1.patch",
			);
		};

		"kext_tools" = {
			patchfiles = (
				"kext_tools-117.bootcaches.c.p1.patch",
				"kext_tools-117.prelink.c.p1.patch",
				"kext_tools-117.globals.h.p1.patch",
				"kext_tools-117.update_boot.c.p1.patch",
				"kext_tools-117.kextd_main.c.p1.patch",
				"kext_tools-117.watchvol.h.p1.patch",
				"kext_tools-117.project.pbxproj.p1.patch",
			);
		};

		keymaps = {
			"source_sites" = (
				"http://puredarwin.googlecode.com/hg/Mirror",
				"http://puredarwin.googlecode.com/svn/Mirror",
				"http://www.opensource.apple.com/license/apsl/",
			);
			version = 31;
		};

		libsecurity_apple_csp = {
                        patchfiles = (
				"libsecurity_apple_csp-35205.p1.patch",
			);
		};

		libsecurity_filevault = {
                        patchfiles = (
				"libsecurity_filevault-28631.p1.patch",
			);
		};

		libsecurity_ldap_dl = {
			environment = {
				"RC_ARCHS" = "i386  ppc";
			};
                        patchfiles = (
				"libsecurity_ldap_dl-30174.p1.patch.0",
			);
		};

		passwordserver_saslkerberos = {
			environment = {
				"RC_ARCHS" = "i386  ppc";
			};
		};

		security_dotmac_tp = {
			environment = {
				"RC_ARCHS" = "i386  ppc";
			};
                        patchfiles = (
				"security_dotmac_tp-33607.p1.patch.0",
				"security_dotmac_tp-33607.p1.patch.1",
				"security_dotmac_tp-33607.p1.patch.2",
			);
		};



















		MacPorts = {
			"source_sites" = (
				"http://svn.macports.org/repository/macports/downloads/MacPorts-1.7.1",
			);
			version = "1.7.1";
		};


		"NullCPUPowerManagement" = {
			"source_sites" = (
				"http://tgwbd.org/darwin/downloads",
			);
			version = r11;
		};


		libdwarf = {
			environment = {
				"RC_ARCHS" = "i386";
			};	
			dependencies = {
				build = (
					libelf,
				);
			};
			"source_sites" = (
				"http://puredarwin.googlecode.com/hg/Mirror",
				"http://puredarwin.googlecode.com/svn/Mirror",
				"http://reality.sgiweb.org/davea",
			);
			version = 8;
		};

		libelf = {
			"source_sites" = (
				"http://puredarwin.googlecode.com/hg/Mirror/",
				"http://puredarwin.googlecode.com/svn/Mirror/",
				"http://www.mr511.de/software",
			);
			version = 3;
		};

		"pcsc-lite" = {
			"source_sites" = (
				"http://puredarwin.googlecode.com/hg/Mirror/",
				"http://puredarwin.googlecode.com/svn/Mirror/",
			);
			version = "1.4.102";
		};
		
		zfs = {
			configuration = "Leopard_Release";
			dependencies = {
				lib = (
					Libsystem,
					dyld,
					libgcc,
					ncurses,
				);
			};
			environment = {
				"RC_ARCHS" = "i386  ppc ";
			};
			"source_sites" = (
				"http://puredarwin.googlecode.com/hg/Mirror/",
				"http://puredarwin.googlecode.com/svn/Mirror/",
			);
			version = "119";
		};


	};
}
