<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>source_sites</key>
	<array>
		<string>https://opensource.apple.com/tarballs</string>
	</array>

	<key>patch_sites</key>
	<array>
		<string>https://github.com/PureDarwin/PureDarwin/raw/master/patches</string>
	</array>

	<key>build</key>
	<string>PD19_0</string>
	<key>darwin</key>
	<string>Darwin 19.0</string>
	<key>macosx</key>
	<string>macOS 10.15</string>

	<key>environment</key>
	<dict>
		<key>INSTALLED_PRODUCT_ASIDES</key>
		<string>YES</string>
		<key>MACOSX_DEPLOYMENT_TARGET</key>
		<string>10.15</string>
		<key>UNAME_RELEASE</key>
		<string>19.0</string>
		<key>UNAME_SYSNAME</key>
		<string>Darwin</string>
		<key>RC_TARGET_CONFIG</key>
		<string>MacOSX</string>
		<key>SDKROOT</key>
		<string>macosx</string>
	</dict>

	<key>groups</key>
	<dict>
		<key>boot</key>
		<array>
			<string>xnu AppleI386GenericPlatform IOACPIFamily corecrypto</string>
			<string>libpthread libcoreservices</string>
		</array>
	</dict>

	<key>projects</key>
	<dict>
		<key>AppleI386GenericPlatform</key>
		<dict>
			<key>version</key>
			<string>11.2.3</string>
			<key>github</key>
			<string>PureDarwin/AppleI386GenericPlatform</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>libkmod</string>
				</array>
				<key>header</key>
				<array>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>AvailabilityVersions</key>
		<dict>
			<key>version</key>
			<string>45.5</string>
		</dict>

		<key>CrashReporterClient</key>
		<dict>
			<key>original</key>
			<string>libcoreservices</string>
			<key>version</key>
			<string>10.2</string>
			<key>target</key>
			<string>CrashReporterClient</string>
		</dict>

		<key>IOACPIFamily</key>
		<dict>
			<key>version</key>
			<string>100.0.1</string>
			<key>github</key>
			<string>PureDarwin/IOACPIFamily</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>IOATABlockStorage</key>
		<dict>
			<key>version</key>
			<string>20</string>
			<key>github</key>
			<string>PureDarwin/IOATABlockStorage</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>IOATAFamily</string>
					<string>IOStorageFamily</string>
					<string>libkmod</string>
				</array>
				<key>header</key>
				<array>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>IOATAFamily</key>
		<dict>
			<key>version</key>
			<string>256pd1</string>
			<key>github</key>
			<string>PureDarwin/IOATAFamily</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>libkmod</string>
				</array>
				<key>header</key>
				<array>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>IOStorageFamily</key>
		<dict>
			<key>version</key>
			<string>238.00.1pd1</string>
			<key>github</key>
			<string>PureDarwin/IOStorageFamily</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>libkmod</string>
				</array>
				<key>header</key>
				<array>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>Libsyscall</key>
		<dict>
			<key>original</key>
			<string>xnu</string>
			<key>version</key>
			<string>6153.61.1</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>xnu_headers</string>
				</array>
			</dict>
			<key>patchfiles</key>
			<array>
				<string>xnu-6153.61.1.xnu_dependencies_dir.p1.patch</string>
				<string>xnu-6153.61.1.libsyscall_xcconfig.p1.patch</string>
				<string>xnu-6153.61.1.libsyscall_build.p1.patch</string>
				<string>xnu-6153.61.1.libsyscall_makefile.p1.patch</string>
				<string>xnu-6153.61.1.fix_fork_asm.p1.patch</string>
				<string>xnu-6153.61.1.fix_mig_includes.p1.patch</string>
			</array>
		</dict>

		<key>Libsystem</key>
		<dict>
			<key>version</key>
			<string>11</string>
			<key>github</key>
			<string>PureDarwin/Libsystem</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>Libsyscall</string>
					<string>libpthread</string>
					<string>libplatform</string>
				</array>

				<key>header</key>
				<array>
					<string>libplatform_headers</string>
				</array>
			</dict>
		</dict>

		<key>Libtrace</key>
		<dict>
			<key>version</key>
			<string>10</string>
			<key>github</key>
			<string>PureDarwin/Libtrace</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>CrashReporterClient</string>
				</array>
				<key>header</key>
				<array>
					<string>libdispatch</string>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>SQLite</key>
		<dict>
			<key>version</key>
			<string>3.29.0.0.1</string>
			<key>github</key>
			<string>PureDarwin/SQLite</string>
		</dict>

		<key>corecrypto</key>
		<dict>
			<key>version</key>
			<string>2100.2</string>
			<key>github</key>
			<string>PureDarwin/corecrypto</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>dtrace</key>
		<dict>
			<key>version</key>
			<string>338.0.1</string>
		</dict>

		<key>dtrace_host</key>
		<dict>
			<key>original</key>
			<string>dtrace</string>
			<key>version</key>
			<string>338.0.1</string>
			<key>target</key>
			<string>dtrace_host</string>
			<key>patchfiles</key>
			<array>
				<string>dtrace-338.0.1.dtrace_host.p1.patch</string>
			</array>
		</dict>

		<key>hfs</key>
		<dict>
			<key>version</key>
			<string>407.1.3pd1</string>
			<key>github</key>
			<string>PureDarwin/hfs</string>
			<key>target</key>
			<string>hfs.fs</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>libutil</string>
				</array>
			</dict>
		</dict>

		<key>hfs_kext</key>
		<dict>
			<key>version</key>
			<string>407.1.3pd1</string>
			<key>original</key>
			<string>hfs</string>
			<key>github</key>
			<string>PureDarwin/hfs</string>
			<key>target</key>
			<string>kext</string>
		</dict>

		<key>libcoreservices</key>
		<dict>
			<key>version</key>
			<string>10.2</string>
			<key>github</key>
			<string>PureDarwin/libcoreservices</string>
		</dict>

		<key>libdispatch</key>
		<dict>
			<key>version</key>
			<string>3000</string>
			<key>github</key>
			<string>PureDarwin/libdispatch</string>
			<key>target</key>
			<string>libdispatch</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>Libsyscall</string>
					<string>libplatform_headers</string>
					<string>libpthread</string>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>libfirehose_kernel</key>
		<dict>
			<key>original</key>
			<string>libdispatch</string>
			<key>version</key>
			<string>3000</string>
			<key>github</key>
			<string>PureDarwin/libdispatch</string>
			<key>target</key>
			<string>libfirehose_kernel</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>libplatform_headers</string>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>libkmod</key>
		<dict>
			<key>original</key>
			<string>xnu</string>
			<key>version</key>
			<string>6153.61.1</string>
			<key>patchfiles</key>
			<array>
				<string>xnu-6153.61.1.libkmod.p1.patch</string>
			</array>
		</dict>

		<key>libplatform</key>
		<dict>
			<key>version</key>
			<string>1005</string>
			<key>github</key>
			<string>PureDarwin/libplatform</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>Libsyscall</string>
					<string>libpthread</string>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>libplatform_headers</key>
		<dict>
			<key>original</key>
			<string>libplatform</string>
			<key>version</key>
			<string>1005</string>
			<key>target</key>
			<string>headers</string>
		</dict>

		<key>libpthread</key>
		<dict>
			<key>version</key>
			<string>416.60.2pd1.1</string>
			<key>github</key>
			<string>PureDarwin/libpthread</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>Libsyscall</string>
					<string>Libsystem</string>
					<string>libplatform_headers</string>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>libpthread_introspection</key>
		<dict>
			<key>original</key>
			<string>libpthread</string>
			<key>version</key>
			<string>416.60.2pd1.1</string>
			<key>target</key>
			<string>libsystem_pthread introspection</string>
			<key>github</key>
			<string>PureDarwin/libpthread</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>Libsyscall</string>
					<string>Libsystem</string>
					<string>libplatform_headers</string>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>libpthread_kext</key>
		<dict>
			<key>original</key>
			<string>libpthread</string>
			<key>version</key>
			<string>416.60.2pd1.1</string>
			<key>target</key>
			<string>Kext</string>
			<key>github</key>
			<string>PureDarwin/libpthread</string>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>Libsyscall</string>
					<string>libplatform_headers</string>
					<string>xnu_headers</string>
				</array>
			</dict>
		</dict>

		<key>libsystem_asl</key>
		<dict>
			<key>version</key>
			<string>356.200.4</string>
			<key>original</key>
			<string>syslog</string>
			<key>target</key>
			<string>libasl</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>CrashReporterClient</string>
					<string>libdispatch</string>
					<string>libxpc</string>
				</array>
			</dict>
			<key>patchfiles</key>
			<array>
				<string>syslog-356.200.4.remove-os_log.p1.patch</string>
				<string>syslog-356.200.4.fix-xcconfig.p1.patch</string>
				<string>syslog-356.200.4.remove-i386.p1.patch</string>
				<string>syslog-356.200.4.remove-cache-delete.p1.patch</string>
				<string>syslog-356.200.4.remove-quarantine.p1.patch</string>
			</array>
		</dict>

		<key>libutil</key>
		<dict>
			<key>version</key>
			<string>57pd1</string>
			<key>target</key>
			<string>util</string>
			<key>github</key>
			<string>PureDarwin/libutil</string>
		</dict>

		<key>libxpc</key>
		<dict>
			<key>version</key>
			<string>20.1.1</string>
			<key>github</key>
			<string>PureDarwin/XPC</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>CrashReporterClient</string>
					<string>libpthread</string>
				</array>
			</dict>
		</dict>

		<key>pd_update</key>
		<dict>
			<key>version</key>
			<string>1</string>
			<key>github</key>
			<string>PureDarwin/PureDarwin-System-Updater</string>
		</dict>

		<key>syslog</key>
		<dict>
			<key>version</key>
			<string>356.200.4</string>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>CrashReporterClient</string>
					<string>libdispatch</string>
					<string>libxpc</string>
				</array>
			</dict>
			<key>patchfiles</key>
			<array>
				<string>syslog-356.200.4.remove-os_log.p1.patch</string>
				<string>syslog-356.200.4.fix-xcconfig.p1.patch</string>
				<string>syslog-356.200.4.remove-i386.p1.patch</string>
				<string>syslog-356.200.4.remove-cache-delete.p1.patch</string>
				<string>syslog-356.200.4.remove-quarantine.p1.patch</string>
			</array>
		</dict>

		<key>tzlinkd</key>
		<dict>
			<key>version</key>
			<string>57pd1</string>
			<key>original</key>
			<string>libutil</string>
			<key>target</key>
			<string>tzlinkd</string>
			<key>github</key>
			<string>PureDarwin/libutil</string>
		</dict>

		<key>xnu</key>
		<dict>
			<key>version</key>
			<string>6153.61.1</string>
			<key>environment</key>
			<dict>
				<key>KERNEL_CONFIGS</key>
				<string>RELEASE</string>
				<key>BUILD_WERROR</key>
				<string>0</string>
				<key>BUILD_LTO</key>
				<string>0</string>
			</dict>
			<key>dependencies</key>
			<dict>
				<key>build</key>
				<array>
					<string>AvailabilityVersions</string>
					<string>dtrace_host</string>
					<string>libfirehose_kernel</string>
				</array>
				<key>header</key>
				<array>
					<string>AvailabilityVersions</string>
				</array>
			</dict>
			<key>patchfiles</key>
			<array>
				<string>xnu-6153.61.1.availability_versions.p1.patch</string>
				<string>xnu-6153.61.1.fix_codesigning.p1.patch</string>
				<string>xnu-6153.61.1.fix_system_framework.p1.patch</string>
				<string>xnu-6153.61.1.xnu_dependencies_dir.p1.patch</string>
				<string>xnu-6153.61.1.kext_copyright_check.p1.patch</string>
				<string>xnu-6153.61.1.xnu_firehose_dir.p1.patch</string>
				<string>xnu-6153.61.1.kext_load.p1.patch</string>
				<string>xnu-6153.61.1.no_uncrustify.p1.patch</string>
				<string>xnu-6153.61.1.remove_cfg_adr.p1.patch</string>
				<string>xnu-6153.61.1.ipsec_nexus.p1.patch</string>
				<string>xnu-6153.61.1.fix_dlil.p1.patch</string>
				<string>xnu-6153.61.1.fix_asm_help.p1.patch</string>
				<string>xnu-6153.61.1.fix_dtrace_collision.p1.patch</string>
				<string>xnu-6153.61.1.kprng_yarrow.p1.patch</string>
			</array>
		</dict>

		<key>xnu_headers</key>
		<dict>
			<key>original</key>
			<string>xnu</string>
			<key>version</key>
			<string>6153.61.1</string>
			<key>environment</key>
			<dict>
				<key>KERNEL_CONFIGS</key>
				<string>RELEASE</string>
			</dict>
			<key>dependencies</key>
			<dict>
				<key>header</key>
				<array>
					<string>AvailabilityVersions</string>
				</array>
			</dict>
			<key>patchfiles</key>
			<array>
				<string>xnu-6153.61.1.availability_versions.p1.patch</string>
				<string>xnu-6153.61.1.fix_codesigning.p1.patch</string>
				<string>xnu-6153.61.1.fix_system_framework.p1.patch</string>
				<string>xnu-6153.61.1.xnu_dependencies_dir.p1.patch</string>
				<string>xnu-6153.61.1.fix_asm_help.p1.patch</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
