<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>apfs</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.filesystems.apfs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>apfs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>PureDarwin Project</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>com.apple.filesystems.apfs</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.filesystems.apfs</string>
			<key>IOClass</key>
			<string>com_apple_filesystems_apfs</string>
			<key>IOMatchCategory</key>
			<string>com_apple_filesystems_apfs</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>12.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.2</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.2</string>
		<key>com.apple.kpi.mach</key>
		<string>11.2</string>
		<key>com.apple.kpi.private</key>
		<string>11.2</string>
		<key>com.apple.kpi.unsupported</key>
		<string>11.2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
