<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>  
        <!-- DevMode off kills upon seeing .control entitlement, use this file instead -->
        <key>com.apple.system-task-ports.read</key>
		<true/>
		<key>com.apple.private.set-exception-port</key>
		<true/>
</dict>
</plist>
