<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>bar</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.bar</string>
	<key>CFBundleName</key>
	<string>bar</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.foo</key>
		<string>1.0</string>
		<key>com.apple.libkern</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
