<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DEBUGSCOPE</key>
		<string>-policy-node,policy-set,policy,alloc,trust,bind,profile,trace,dbconn,OTR,serverxpc,sqlite3,error_thee_well, ringSigning</string>
		<key>WAIT4DEBUGGER</key>
		<string>NO</string>
	</dict>
	<key>GroupName</key>
	<string>_securityd</string>
	<key>Label</key>
	<string>com.apple.securityd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.security.octagon</key>
		<true/>
		<key>com.apple.securityd</key>
		<true/>
		<key>com.apple.securityd.aps</key>
		<true/>
		<key>com.apple.securityd.ckks</key>
		<true/>
		<key>com.apple.securityd.general</key>
		<true/>
		<key>com.apple.securityd.sos</key>
		<true/>
		<key>com.apple.security.escrow-update</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/securityd</string>
	</array>
	<key>Umask</key>
	<integer>54</integer>
	<key>UserName</key>
	<string>_securityd</string>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>MinimalBootProfile</key>
	<true/>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.securityd.daily</key>
			<dict>
				<key>Priority</key>
				<string>Utility</string>
				<key>Interval</key>
				<real>86400</real>
				<key>GracePeriod</key>
				<integer>21600</integer>
				<key>PowerNap</key>
				<true/>
				<key>AllowBattery</key>
				<false/>
				<key>RequireInexpensiveNetworkConnectivity</key>
				<true/>
				<key>NetworkTransferDirection</key>
				<string>Bidirectional</string>
			</dict>
			<key>com.apple.securityd.entropyhealth</key>
			<dict>
				<key>Priority</key>
				<string>Utility</string>
				<key>Interval</key>
				<real>86400</real>
			</dict>
			<key>com.apple.securityd.prng</key>
			<dict>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Interval</key>
				<real>3600</real>
                <key>RequiresClassC</key>
                <false/>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>kSOSCCHoldLockForInitialSync</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.security.secureobjectsync.holdlock</string>
			</dict>
		</dict>
	</dict>
	<key>_LimitLoadFromVariant</key>
	<string>IsRecovery</string>
</dict>
</plist>
