<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Background</string>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>Label</key>
	<string>com.apple.secd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.security.octagon</key>
		<true/>
		<key>com.apple.secd</key>
		<true/>
		<key>com.apple.securityd.xpc</key>
		<true/>
		<key>com.apple.securityd.aps</key>
		<true/>
		<key>com.apple.securityd.ckks</key>
		<true/>
		<key>com.apple.securityd.general</key>
		<true/>
		<key>com.apple.securityd.sos</key>
		<true/>
		<key>com.apple.security.escrow-update</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/secd</string>
	</array>
	<key>Umask</key>
	<integer>54</integer>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DEBUGSCOPE</key>
		<string>-policy-node,policy-set,policy,alloc,trust,bind,profile,trace,dbconn,OTR,serverxpc,sqlite3,error_thee_well,ringSigning</string>
		<key>WAIT4DEBUGGER</key>
		<string>NO</string>
	</dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.securityd.daily</key>
			<dict>
				<key>Priority</key>
				<string>Utility</string>
				<key>Interval</key>
				<real>86400</real>
			</dict>
			<key>com.apple.securityd.entropyhealth</key>
			<dict>
				<key>Priority</key>
				<string>Utility</string>
				<key>Interval</key>
				<real>86400</real>
			</dict>
			<key>com.apple.securityd.prng</key>
			<dict>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Interval</key>
				<real>3600</real>
                <key>RequiresClassC</key>
                <false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
