<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>SystemConfiguration</string>
	<key>CFBundleShortVersionString</key>
	<string>16.0.0</string>
	<key>IPConfiguration</key>
	<dict>
		<key>ARPConflictRetryCount</key>
		<integer>2</integer>
		<key>ARPConflictRetryDelaySeconds</key>
		<real>0.75</real>
		<key>ARPDetectCount</key>
		<integer>6</integer>
		<key>ARPDetectRetryTimeSeconds</key>
		<real>0.02</real>
		<key>ARPGratuitousCount</key>
		<integer>2</integer>
		<key>ARPProbeCount</key>
		<integer>3</integer>
		<key>ARPRetryTimeSeconds</key>
		<real>0.32</real>
		<key>ConfigureIPv6</key>
		<true/>
		<key>DHCPAllocateLinkLocalAtRetryCount</key>
		<integer>4</integer>
		<key>DHCPFailureConfiguresLinkLocal</key>
		<true/>
		<key>DHCPInitRebootRetryCount</key>
		<integer>2</integer>
		<key>DHCPLeaseWriteT1ThresholdSeconds</key>
		<integer>3600</integer>
		<key>DHCPLocalHostNameLengthMax</key>
		<integer>15</integer>
		<key>DHCPRequestedParameterList</key>
		<array>
			<integer>1</integer>
			<integer>121</integer>
			<integer>3</integer>
			<integer>6</integer>
			<integer>15</integer>
			<integer>114</integer>
			<integer>119</integer>
			<integer>252</integer>
			<integer>95</integer>
			<integer>44</integer>
			<integer>46</integer>
		</array>
		<key>DHCPRouterARPAtRetryCount</key>
		<integer>3</integer>
		<key>DHCPGenerateFailureSymptomAtRetryCount</key>
		<integer>6</integer>
		<key>DHCPSelectRetryCount</key>
		<integer>3</integer>
		<key>DHCPSuccessDeconfiguresLinkLocal</key>
		<true/>
		<key>DHCPv6Enabled</key>
		<true/>
		<key>DHCPv6RequestedOptions</key>
		<array>
			<integer>23</integer>
			<integer>24</integer>
			<integer>103</integer>
		</array>
		<key>DefendIPAddressCount</key>
		<integer>5</integer>
		<key>DefendIPAddressIntervalSeconds</key>
		<integer>10</integer>
		<key>DisableUnneededInterfaces</key>
		<true/>
		<key>DiscoverAndPublishRouterMACAddress</key>
		<true/>
		<key>DiscoverRouterMACAddressTimeSeconds</key>
		<integer>60</integer>
		<key>GatherTimeSeconds</key>
		<integer>1</integer>
		<key>InitialRetryTimeSeconds</key>
		<integer>1</integer>
		<key>LinkInactiveWaitTimeSeconds</key>
		<real>0.1</real>
		<key>ManualConflictRetryIntervalSeconds</key>
		<integer>300</integer>
		<key>MaximumRetryTimeSeconds</key>
		<integer>8</integer>
		<key>MinimumShortWakeIntervalSeconds</key>
		<integer>60</integer>
		<key>MinimumWakeIntervalSeconds</key>
		<integer>900</integer>
		<key>MustBroadcast</key>
		<false/>
		<key>RetryCount</key>
		<integer>9</integer>
		<key>RouterARPEnabled</key>
		<true/>
		<key>RouterARPWiFiLeaseStartThresholdSeconds</key>
		<integer>86400</integer>
		<key>UseMaintenanceWake</key>
		<true/>
		<key>WakeSkewSeconds</key>
		<integer>30</integer>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.network.IPConfiguration</key>
		<true/>
	</dict>
	<key>Requires</key>
	<array>
		<string>com.apple.SystemConfiguration.InterfaceNamer</string>
		<string>com.apple.SystemConfiguration.KernelEventMonitor</string>
		<string>com.apple.SystemConfiguration.PreferencesMonitor</string>
	</array>
</dict>
</plist>
