<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.logd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/logd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>com.apple.logd</key>
		<true/>
	</dict>
</dict>
</plist>
