<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ApfsFileSystemDriver</string>
	<key>CFBundleName</key>
	<string>ApfsFileSystemDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.ravynos.driver.ApfsFileSystemDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleAPFSContainerScheme</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ravynos.driver.ApfsFileSystemDriver</string>
			<key>IOClass</key>
			<string>AppleAPFSContainerScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Content Hint</key>
				<string>7C3457EF-0000-11AA-AA11-00306543ECAC</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>AppleAPFSContainer</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ravynos.driver.ApfsFileSystemDriver</string>
			<key>IOClass</key>
			<string>AppleAPFSContainer</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleAPFSMedia</string>
		</dict>
		<key>AppleAPFSContainerSchemeISC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ravynos.driver.ApfsFileSystemDriver</string>
			<key>IOClass</key>
			<string>AppleAPFSContainerScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Content Hint</key>
				<string>69646961-6700-11AA-AA11-00306543ECAC</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.6</string>
	</dict>
</dict>
</plist>
