<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SymbolsSets</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.symbols</string>
			<key>CFBundleVersion</key>
			<string>###KERNEL_VERSION_LONG###</string>
			<key>OSBundleCompatibleVersion</key>
			<string>8.0.0b1</string>
			<key>Symbols</key>
			<array>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZN11OSMetaClass</string>
				</dict>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZNK11OSMetaClass</string>
				</dict>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZN15OSMetaClassBase</string>
				</dict>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZNK15OSMetaClassBase</string>
				</dict>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZN8OSObject</string>
				</dict>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZNK8OSObject</string>
				</dict>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZTV8OSObject</string>
				</dict>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZTV11OSMetaClass</string>
				</dict>
				<dict>
					<key>SymbolPrefix</key>
					<string>__ZTV15OSMetaClassBase</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
