<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>PDBcm2835SD</string>
	<key>CFBundleIdentifier</key>
	<string>org.puredarwin.kext.PDBcm2835SD</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PDBcm2835SD</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BCM2835 SD host</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.kext.PDBcm2835SD</string>
			<key>IOClass</key>
			<string>PDBcm2835SD</string>
			<key>IONameMatch</key>
			<array>
				<string>emmc</string>
				<string>sdhci</string>
				<string>bcm2835-sdhci</string>
			</array>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
