<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>PDHyperV</string>
    <key>CFBundleIdentifier</key>
    <string>org.puredarwin.driver.PDHyperV</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>PDHyperV</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>PDHyperV</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>org.puredarwin.driver.PDHyperV</string>
            <key>IOClass</key>
            <string>PDHyperV</string>
            <key>IOMatchCategory</key>
            <string>PDHyperV</string>
            <key>IOProviderClass</key>
            <string>IOResources</string>
            <key>IOResourceMatch</key>
            <string>IOKit</string>
        </dict>
        <key>PDHVStorage</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>org.puredarwin.driver.PDHyperV</string>
            <key>IOClass</key>
            <string>PDHVStorage</string>
            <key>IOProviderClass</key>
            <string>PDVMBusChannel</string>
            <key>IOPropertyMatch</key>
            <dict>
                <key>hv-type</key>
                <string>ba6163d9-04a1-4d29-b605-72e2ffb1dc7f</string>
            </dict>
        </dict>
        <key>PDHVNetwork</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>org.puredarwin.driver.PDHyperV</string>
            <key>IOClass</key>
            <string>PDHVNetwork</string>
            <key>IOProviderClass</key>
            <string>PDVMBusChannel</string>
            <key>IOPropertyMatch</key>
            <dict>
                <key>hv-type</key>
                <string>f8615163-df3e-46c5-913f-f2d2f965ed0e</string>
            </dict>
        </dict>
    </dict>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.iokit.IONetworkingFamily</key>
        <string>3.4</string>
        <key>com.apple.iokit.IOStorageFamily</key>
        <string>2.1</string>
        <key>com.apple.kpi.bsd</key>
        <string>8.0.0</string>
        <key>com.apple.kpi.iokit</key>
        <string>10.0.0d1</string>
        <key>com.apple.kpi.libkern</key>
        <string>10.0.0d1</string>
        <key>com.apple.kpi.mach</key>
        <string>10.0.0d1</string>
        <key>com.apple.kpi.unsupported</key>
        <string>10.0.0d1</string>
    </dict>
    <key>OSBundleCompatibleVersion</key>
    <string>1.0.0</string>
    <key>OSBundleRequired</key>
    <string>Root</string>
</dict>
</plist>
