<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SymbolsSets</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.bar</string>
			<key>CFBundleVersion</key>
			<string>###KERNEL_VERSION_LONG###</string>
			<key>OSBundleCompatibleVersion</key>
			<string>8.0.0b1</string>
			<key>Symbols</key>
			<array>
				<dict>
					<key>SymbolName</key>
					<string>_symbol_from_bar</string>
					<key>AliasTarget</key>
					<string>_symbol_from_xnu</string>
				</dict>
				<dict>
					<key>SymbolName</key>
					<string>_symbol_from_xnu_no_alias</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
