<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Project</key>
    <string>CommonCrypto</string>
    <key>Tests</key>
    <array>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonRandom</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonRandom</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCPP</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCPP</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymECB</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymECB</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymCBC</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymCBC</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymOFB</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymOFB</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymGCM</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymGCM</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymCCM</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymCCM</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymCTR</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymCTR</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymXTS</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymXTS</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymRC2</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymRC2</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymRegression</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymRegression</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymOffset</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymOffset</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymZeroLength</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymZeroLength</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoOutputLength</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoOutputLength</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoNoPad</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoNoPad</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymCFB</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymCFB</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoCTSPadding</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoCTSPadding</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonSymmetricWrap</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonSymmetricWrap</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonDH</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonDH</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonDigest</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonDigest</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonHMac</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonHMac</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoReset</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoReset</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymChaCha20</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymChaCha20</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoSymChaCha20Poly1305</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoSymChaCha20Poly1305</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonBigNum</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonBigNum</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonBigDigest</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonBigDigest</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoWithData</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoWithData</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCryptoBlowfish</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCryptoBlowfish</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCRCTest</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCRCTest</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonBaseEncoding</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonBaseEncoding</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonHKDF</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonHKDF</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonANSIKDF</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonANSIKDF</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonNISTKDF</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonNISTKDF</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonKeyDerivation</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonKeyDerivation</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonEC</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonEC</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonRSA</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonRSA</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonHMacClone</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonHMacClone</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCMac</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCMac</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
        <dict>
            <key>Command</key>
            <array>
                <string>/usr/local/bin/CCRegression</string>
                <string>CommonCollabKeyGen</string>
            </array>
            <key>TestName</key>
            <string>CommonCrypto.CommonCollabKeyGen</string>
            <key>MayRunConcurrently</key>
            <true/>
        </dict>
    </array>
</dict>
</plist>
