<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PDLifs</string>
	<key>CFBundleIdentifier</key>
	<string>org.puredarwin.filesystems.PDLifs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PDLifs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>com.apple.filesystems.lifs</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.filesystems.PDLifs</string>
			<key>IOClass</key>
			<string>com_apple_filesystems_lifs</string>
			<key>IOMatchCategory</key>
			<string>com_apple_filesystems_lifs</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>IOUserClientClass</key>
			<string>AppleLIFSUserClient</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.private</key>
		<string>10.0.0d1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
