<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BATSConfigVersion</key>
	<string>0.1.0</string>
	<key>Project</key>
	<string>xnu.workqueue.tests</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/xnu/darwintests/manual_wq_cooperative</string>
				<string>stress_test</string>
			</array>
			<key>TestName</key>
			<string>xnu.workqueue.manual_workq_cooperative</string>
			<key>AsRoot</key>
			<false/>
		</dict>
	</array>
	<key>Timeout</key>
	<integer>240</integer>
</dict>
</plist>
