<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PDIOSurface</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0, Copyright (C) 2026 PureDarwin Project. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>org.puredarwin.driver.PDIOSurface</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PDIOSurface</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleCLCD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>AppleCLCD</string>
			<key>IOMatchCategory</key>
			<string>AppleCLCD</string>
			<key>IOProviderClass</key>
			<string>PDDisplayNub</string>
		</dict>
		<key>AppleM2ScalerParavirtDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>AppleM2ScalerParavirtDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleM2ScalerParavirtDriver</string>
			<key>IOProviderClass</key>
			<string>PDDisplayNub</string>
		</dict>
		<key>AppleM2ScalerCSCDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>AppleM2ScalerCSCDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleM2ScalerCSCDriver</string>
			<key>IOProviderClass</key>
			<string>PDDisplayNub</string>
		</dict>
		<key>AppleDisplayManager</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>AppleDisplayManager</string>
			<key>IOMatchCategory</key>
			<string>AppleDisplayManager</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>BootPolicy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>BootPolicy</string>
			<key>IOMatchCategory</key>
			<string>BootPolicy</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
		</dict>
		<key>IOBluetoothHCIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>IOBluetoothHCIController</string>
			<key>IOMatchCategory</key>
			<string>IOBluetoothHCIController</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>AppleParavirtDisplay</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>AppleParavirtDisplay</string>
			<key>IOMatchCategory</key>
			<string>AppleParavirtDisplay</string>
			<key>IOProviderClass</key>
			<string>AppleParavirtGPU</string>
		</dict>
		<key>AppleParavirtFramebuffer</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>AppleParavirtFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>AppleParavirtFramebuffer</string>
			<key>IOProviderClass</key>
			<string>AppleParavirtGPU</string>
		</dict>
		<key>AppleParavirtGPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>AppleParavirtGPU</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IONameMatch</key>
			<string>paravirtualizedgraphics,gpu</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>DCPAVCECInterfaceProxy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>DCPAVCECInterfaceProxy</string>
			<key>IOMatchCategory</key>
			<string>DCPAVCECInterfaceProxy</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>IOMobileFramebuffer</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>IOMobileFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOMobileFramebuffer</string>
			<key>IOProviderClass</key>
			<string>PDDisplayNub</string>
		</dict>
		<key>IOPortTransportStateDisplayPort</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>IOPortTransportStateDisplayPort</string>
			<key>IOMatchCategory</key>
			<string>IOPortTransportStateDisplayPort</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>IOSurfaceRoot</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.puredarwin.driver.PDIOSurface</string>
			<key>IOClass</key>
			<string>IOSurfaceRoot</string>
			<key>IOMatchCategory</key>
			<string>IOSurfaceRoot</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>576.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0d1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
