<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.trustd</string>
	<key>com.apple.application-identifier</key>
	<string>com.apple.trustd</string>
	<key>com.apple.private.necp.match</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.network.delegation-whitelist</key>
	<true/>
	<key>com.apple.private.keychain.certificates</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.PKITrustSupplementals</string>
		<string>com.apple.MobileAsset.SecExperimentAssets</string>
	</array>
	<key>com.apple.private.security.storage.trustd</key>
	<true/>
	<key>com.apple.private.security.storage.trustd-private</key>
	<true/>
	<key>com.apple.private.security.storage.SFAnalytics</key>
	<true/>
	<key>com.apple.private.trustd.FileHelp</key>
	<true/>
</dict>
</plist>
