<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <!--kCSWebBrowserHostEntitlementMask-->
        <key>com.apple.private.web-browser-engine.host</key>
        <true/>
        <key>com.apple.developer.web-browser-engine.host</key>
        <true/>

        <!--kCSWebBrowserGPUEntitlementMask-->
        <key>com.apple.private.web-browser-engine.gpu</key>
        <true/>
        <key>com.apple.developer.web-browser-engine.rendering</key>
        <true/>
        <key>com.apple.developer.web-browser-engine.gpu</key>
        <true/>

        <!--kCSWebBrowserWebContentEntitlementMask-->
        <key>com.apple.private.web-browser-engine.webcontent</key>
        <true/>
        <key>com.apple.developer.web-browser-engine.webcontent</key>
        <true/>
        <!-- Total: 0x17 = 23-->
</dict>
</plist>
