<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gid</key>
	<array>
		<string>0</string>
	</array>
	<key>home</key>
	<array>
		<string>/var/root</string>
	</array>
	<key>name</key>
	<array>
		<string>root</string>
	</array>
	<key>passwd</key>
	<array>
		<string>*</string>
	</array>
	<key>realname</key>
	<array>
		<string>System Administrator</string>
	</array>
	<key>shell</key>
	<array>
		<string>/bin/sh</string>
	</array>
	<key>uid</key>
	<array>
		<string>0</string>
	</array>
	<key>generateduid</key>
	<array>
		<string>FFFFEEEE-DDDD-CCCC-BBBB-AAAA00000000</string>
	</array>
</dict>
</plist>

