#include "libmalloc.xcconfig"

// #ifndef __OPEN_SOURCE__

MALLOC_RESOLVER_PREPROCESSOR_DEFINITIONS 		= OS_VARIANT_ENABLED=1

INCLUDED_SOURCE_FILE_NAMES						= $(MALLOC_RESOLVER_SOURCE_FILE_NAMES)

RESOLVER_PREPROCESSOR_DEFINITIONS              = $(RESOLVER_PREPROCESSOR_DEFINITIONS_$(PLATFORM_NAME))
RESOLVER_PREPROCESSOR_DEFINITIONS_iphoneos     = $(MALLOC_RESOLVER_PREPROCESSOR_DEFINITIONS)
RESOLVER_PREPROCESSOR_DEFINITIONS_watchos      = $(MALLOC_RESOLVER_PREPROCESSOR_DEFINITIONS)
PLATFORM_PREPROCESSOR_DEFINITIONS[arch=arm64]  = $(RESOLVER_PREPROCESSOR_DEFINITIONS)
PLATFORM_PREPROCESSOR_DEFINITIONS[arch=armv7]  = $(RESOLVER_PREPROCESSOR_DEFINITIONS)
PLATFORM_PREPROCESSOR_DEFINITIONS[arch=armv7k] =

MALLOC_RESOLVER_LDFLAGS = -force_load $(CONFIGURATION_BUILD_DIR)/libmalloc_mp_$(CURRENT_VARIANT).a -force_load $(CONFIGURATION_BUILD_DIR)/libmalloc_alt_$(CURRENT_VARIANT).a
RESOLVER_LDFLAGS                               = $(RESOLVER_LDFLAGS_$(PLATFORM_NAME))
RESOLVER_LDFLAGS_iphoneos                      = $(MALLOC_RESOLVER_LDFLAGS)
RESOLVER_LDFLAGS_watchos                       = $(MALLOC_RESOLVER_LDFLAGS)
PLATFORM_LDFLAGS[arch=arm64]                   = $(RESOLVER_LDFLAGS)
PLATFORM_LDFLAGS[arch=armv7]                   = $(RESOLVER_LDFLAGS)
PLATFORM_LDFLAGS[arch=armv7k]                  = $(RESOLVER_LDFLAGS)

// #endif __OPEN_SOURCE__

